* {
    margin: 0;
    padding: 0;
}
:root {
    --cor-primaria : #000000;
    --cor-secundaria : #f6f6f6;
    --cor-terciaria : #22d4fd;
    --cor-hover : #272727;

    --fonte-primaria :'Courier New', Courier, monospace  ;
    --fonte-secundaria :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.cabecalho {
    padding: 2% 0% 0% 15%;
}
.cabecalho-menu{
    display: flex;
    gap: 80px;
}
.cabecalho-menu-link {

    font-weight: 600;
    font-family:var(--fonte-secundaria) ;
    font-size: 600;
    color: var(--cor-terciaria);
    text-decoration: none;


}


.apresentacao{

    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;



}
.apresentacao-conteudo {

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;


}
.apresentacao-conteudo-titulo {

    font-size: 2.25rem;
    font-family: var(--fonte-primaria);

}

.titulodestaque {
    color:var(--cor-terciaria);
}

.apresentacao-conteudo-texto {
    
    font-size: 1.3rem;
    font-family: var(--fonte-secundaria);
}
.apresentacao-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    gap: 32px;
}
.apresentacao-links-subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}
.apresentacao-links-navegacao {

    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);

}
.apresentacao-links-navegacao:hover{
    background-color: var(--cor-hover);
}
.perfil {
    
    width: 50%

}
.rodape {

    text-align: center;
    font-family: var(--fonte-secundaria);
    padding: 3px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    font-size: 1.5rem;
    font-weight: 400;


}
@media (max-width: 1000px) {

    .cabecalho {
        padding: 10%;


    }
    .cabecalho-menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }
    .apresentacao-conteudo {
        width: auto;
    }
}